<html>
	<head>
		<title>Not All Angular</title>
	</head>
	<body>
	<!DOCTYPE html>
<html ng-app="myApp">
<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/bower_components/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="app/bower_components/bootstrap/styles/kendo.common.min.css">
  <link rel="stylesheet" href="app/bower_components/bootstrap/styles/kendo.default.min.css">
  <link rel="stylesheet" href="app/bower_components/bootstrap/styles/kendo.default.mobile.min.css">
  <link rel="stylesheet" href="app/app.css">

  <!--bootstrap-->
  <script src="app/bower_components/bootstrap/js/jquery.min.js"></script>
  <script src="app/bower_components/angular/angular.js"></script>
  <script src="app/bower_components/bootstrap/js/kendo.all.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="app/bower_components/ngDraggable/ngDraggable.js"></script>
  <!--bootstrap-->

  <script src="app/bower_components/angular-route/angular-route.js"></script>
  <script src="app/bower_components/chart.js/dist/Chart.min.js"></script>
  <script src="app/bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/services/charts/charts.module.js"></script>
  <script src="app/services/charts/charts.service.js"></script>
  <script src="app/dashboard/dashboard.module.js"></script>
  <script src="app/dashboard/dashboard.component.js"></script>



</head>
<body>
  <div class="container">
  <div ng-view></div>
  </div>
</body>
</html>

		<div ng-model="something">
			This has nothing to do with {{something.Angular}}
		</div>
		<div ng-app="myApp">
			Angular only works here
			<dashboard></dashboard>
		</div>
	<body>
</html>