

<label>Add Widgets<input type="checkbox" data-bind="checked: slideChecked"></label>

<br>


<!--Start div bind checkbox checked-->
<div data-bind="slide: slideChecked">

    <div class="row"><!--Start class row-->
        <div class="col-md-2"> <!--Start col-md-2-->
        </div><!--End col-md-2-->
        <!--Start col-md-8-->
        <div class="col-md-8">
            <form class="form-horizontal" role="form" ng-submit="addChart(chart,selectedXaxis,selectedYaxis)">
            <!-- Start Form Datasource-->
            <div class="row">
                <div class="col-md-4">
                <label class="control-label">Select Datasource</label>
                </div>
                <div class="col-md-4">
                    <div ng-repeat="chart in items">
                       <select class="form-control" ng-model="chart.datasource" k-value-primitive="true"
                               ng-change="getDataSource(chart.datasource)">
                            <option value="bar"  ng-model="chart.datasource">bar</option>
                            <option value="line_formatted" ng-model="chart.datasource">line_formatted</option>
                            <option value="pie" ng-model="chart.datasource">pie</option>
                            <option value="survey1" ng-model="chart.datasource">survey</option>
                    </select>
                        </div>
                    <a ng-click="removeChoice()">Remove last row</a>
                    <input type="button" class="k-button k-primary" ng-click="addNewRow()" value="Add Datasource">
                </div>
            </div>
                <!-- End Form Datasource-->
        <br>
        <div class="row">
            <div class="col-md-4">
            <label class="control-label">Title</label>
            </div>
            <div class="col-md-4">
            <input type="text" ng-model="chart.inputTitle" class="k-textbox" placeholder="Title" ng-init="chart.inputTitle='Default Title'">
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-4">
            <label class="control-label">Size</label>
            </div>
            <div class="col-md-4">
            <select kendo-drop-down-list ng-model="chart.inputSize" k-value-primitive="true" ng-init="chart.inputSize='medium'">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="big">Big</option>
            </select>
            </div>
        </div>
        <br>
        <div class="row">
        <div class="col-md-4">
            <label class="control-label">Type of Widget: </label>
        </div>
        <div class="col-md-4">
            <select kendo-drop-down-list ng-model="chart.inputWidgetType" k-value-primitive="true" ng-init="chart.inputWidgeType = 'bar'">
                <option value="bar">Bar Chart</option>
                <option value="line">Multiline Chart</option>
                <option value="pie">Pie Chart</option>
            </select>
        </div>
        </div>
        <br>

                <!--Start of option bar and line-->
                <div ng-show="(chart.inputWidgetType=='bar') || (chart.inputWidgetType=='line')|| (chart.inputWidgetType=='pie')">
                    <!--start series and color row form-->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Series: </label>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-5">
                                    <div ng-repeat="chart in series">
                                        <input type="text" ng-model="chart.series" class="k-textbox" placeholder="Series"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div ng-repeat="chart in colors">
                                        <input kendo-color-picker ng-model="chart.color" k-buttons="false" k-input="false" />
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!--end series and color row form-->
                    <!--start xaxis form-->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">X-Axis (Labels)</label>
                        </div>
                        <div class="col-md-4">
                            <select ng-model="selectedXaxis" ng-options="xaxis for xaxis in axes" class="form-control">
                            </select>

                        </div>
                    </div>
                    <!--end xaxis form-->
                    <br>
                    <!--start yaxis form-->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Y-Axis (Data)</label>
                        </div>
                        <div class="col-md-4">
                            <select ng-model="selectedYaxis" ng-options="yaxis for yaxis in axes" class="form-control">
                            </select>
                        </div>
                    </div>

                        <!-- end yaxes -->
                </div>
                <!--End option bar-->

                <br>

                <!--button add widget-->
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-5">
                        <div class="pull-right">
                            <kendo-button class="k-button k-primary" type="submit">Add Widget</kendo-button>
                        </div>
                    </div>
                </div>

            </form>
        </div> <!--End col-md-8-->
    </div><!--End class row-->
</div>
<!--end div bind checkbox checked-->


<script>
    kendo.data.binders.slide = kendo.data.Binder.extend({
        refresh: function() {
            var value = this.bindings["slide"].get();

            if (value) {
                $(this.element).slideDown();
            } else {
                $(this.element).slideUp();
            }
        }
    });
    var viewModel = kendo.observable({
        slideChecked: false
    });
    kendo.bind(document.body, viewModel);
</script>