<div style="width: 400px; height: 600px">
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>

<div id="drop" style="position: absolute; width: 100%; height: 100%; border: 2px solid #000000">
    <div class="draggable">
        Drag 1
    </div>
    <div class="draggable">
        Drag 2
    </div>
</div>

<script>
    $('.draggable').kendoDraggable({
        hint     : function (original) {
            return original.clone().addClass("ob-clone");
        },
        dragstart: function (e) {
            $(e.target).addClass("ob-hide");
        }
    });
    $('body').kendoDropTarget({
        drop: function (e) {
            var pos = $(".ob-clone").offset();
            $(e.draggable.currentTarget)
                    .removeClass("ob-hide")
                    .offset(pos);
        }
    })
</script>