
[ng-drag] {
    text-align: center;
    padding-top: 40px;
    display: block;
    cursor: move;
}

[ng-drop] {
    text-align: center;
    position: relative;
    padding: 20px;

    float: left;
}

