<div style="width: 400px; height: 600px">
	<canvas id="doughnut" class="chart chart-doughnut"
	  chart-data="data" chart-labels="labels" style="width: 400px; height: 600px" chart-series="series">
	</canvas>
</div>