<h1 class="page-header">New Dashboard</h1>

<div ng-include="'partials/form.html'"></div>

<div ng-repeat="graph in graphs" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
    <div ng-drag="true" ng-drag-data="graph">
        <h3>{{graph.title}}</h3>
        <canvas
                height="{{graph.height}}"
                width="{{graph.width}}"
                class="chart-base"
                chart-type="graph.type"
                chart-data="graph.data"
                chart-data="graph.data"
                chart-labels="graph.labels"
                chart-series="graph.series"
                chart-options="graph.options"
                chart-dataset-override="graph.datasetOverride"
                chart-click="graph.onClick"
                chart-colors="graph.colors"

        >
        </canvas>

        <button type="button" ng-click="remove($index)" class="k-button k-button-icontext"><span class="k-icon k-delete"></span>Delete</button><br>
    </div>

</div>


<!-- start display graph -->
